---
---

body {
  background: #151515 !important;
  color: #eee8c9 !important;
  font-family: Georgia, "Times New Roman", serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f2edcf !important;
  font-family: Georgia, "Times New Roman", serif !important;
}

p,
li {
  color: #eee8c9 !important;
}

a {
  color: #31577f !important;
}

a:hover {
  color: #426f9e !important;
}
