<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

  <header>
    <h1><a href="{{ '/' | relative_url }}">{{ site.title | default: "Türkçe Oyun Arşivi" }}</a></h1>
    <p>{{ site.description }}</p>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>Türkçe Oyun Arşivi</p>
  </footer>

</body>
</html>
